<h1><%= @guitar.manufacturer.name %> <%= @guitar.model %></h1>
<p>Category : <%= @guitar.category %></p><br>
<a href="/guitars/<%= @guitar.id %>/edit">Edit</a>
<form action="/guitars/<%= @guitar.id %>/delete" method="post">
<button type="submit" name="Delete Guitar">Delete Guitar</button>
</form>
<a href="/users/<%= @guitar.user_id %>">Back to your Vault</a>
